.hero{
    height: 700px;
    overflow: hidden;
    padding-top: 90px;
    img{
      height: 700px;
      object-fit: cover;
    }
  }
  @media (max-width: 916px) {
    .hero{
      display: none;
    }
  }