.movies{
    background-color: $darkGray;
}
.movies__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.movies__card{
    margin-top: 70px;
    width: 220px;
    border: solid 2px rgb(51, 255, 0);
    box-shadow: 0 0 35px rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(43, 43, 43);
    transition: box-shadow 0.2s ease-in-out;
    transition: transform 0.4s ease-in-out;

    img{
        width: 100%;
        border-radius: 15px;
    }
    .card__info{
        margin-top: px;
        padding: 10px;
    }
}

.movies__card:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 30px rgb(57, 255, 7);
    background-color: rgb(22, 22, 22);
    border: ridge 3px rgb(81, 255, 0);
}

.modal-dialog{
    width: 900px !important;
    max-width: 900px;
}

.favourite__move{
    li{
        margin-top: 15px;
    }
    div{
        cursor: pointer;
    }
}





